*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --backgroundcolor: #FAFAFA;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
}
#header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 10vh;    
    border-bottom: 2px solid gray;
}
#search{
    background-color: var(--backgroundcolor);
    
}

#flag{
    border: 2px solid;
    height: 200px;
    width: 100%;
    /* background-color: blue;  */
    /* background-image: url("https://flagcdn.com/w320/pl.png");  */
 } 

.country{
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 2px solid black;
    font-size: 24px;
    font-weight: bold;
}